<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Detail of {{productDetails?.productname}}</h3>
  </div>
  <div class="panel-body">

    <div class="col-xs-12">

      <div class="row vertical-align">

        <!--<div class="col-xs-3">-->
          <!--<img src="../../assets/images/{{productDetails?.photopath}}" width="200px" *ngIf="productDetails?.photopath!=''"/>-->
        <!--</div>-->
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-2">Product Number</div>
            <div class="col-xs-6">{{productDetails?.productid}}</div>
          </div>
          <div class="row">
            <div class="col-xs-2">Postdate</div>
            <div class="col-xs-6">{{productDetails?.postdate | date}}</div>
          </div>
          <div class="row">
            <div class="col-xs-2">Description</div>
            <div class="col-xs-6">{{productDetails?.description}}</div>
          </div>
          <div class="row">
            <div class="col-xs-2">User</div>
            <div class="col-xs-6">{{productDetails?.adduser}}</div>
          </div>
          <div class="row">
            <div class="col-xs-2">Price</div>
            <div class="col-xs-6">{{productDetails?.price}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
