<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Detail of {{productDetails.productname}}</h3>
  </div>
  <div class="panel-body">

    <div class="col-xs-12">

      <div class="row vertical-align">

        <div class="col-xs-4">
          <img src="productDetails.photopath" />
        </div>
        <div class="col-xs-8">

          <div class="row">
            <div class="col-xs-6">
              Product Number
            </div>
            <div class="col-xs-6">
              : {{productDetails.productid}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Postdate
            </div>
            <div class="col-xs-6">
              : {{productDetails.postdate | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Description
            </div>
            <div class="col-xs-6">
              : {{productDetails.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              User
            </div>
            <div class="col-xs-6">
              : {{productDetails.adduser}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Price
            </div>
            <div class="col-xs-6">
              : {{productDetails.price}}
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
