.review{
    border-bottom: 1px solid #ccc;
    padding: 10px 0 40px 10px;
    margin: 10px 20px;
}

.star {
    font-size: 24px;
    color: #b0c4de;
  }
  .filled {
    color: #FFB500;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }