<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">

    <div class="col-xs-12">
{{user.firstName}}
      <div class="row vertical-align">
        <form [formGroup]="createComments" (ngSubmit)="onCreateComment()" ngNativeValidate>
       
        <div class="col-xs-10">
          <div class="form-group">
            <label>Add a headline</label>
            <input type="text" class="form-control" formControlName="reviewHeadline" required>
            <div class="text-danger" *ngIf="createComments.get('reviewHeadline').invalid && createComments.get('reviewHeadline').touched">
             Review headline is required
            </div>
          </div>
          
          <div class="form-group">
            <label>Write your review</label>
            
            <textarea class="form-control" formControlName="comment" required></textarea>
            <div class="text-danger" *ngIf="createComments.get('comment').invalid && createComments.get('comment').touched">
              Comments is required
            </div>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="createComments.invalid">Add Review</button>
          </div>
        </div>
        <div class="col-xs-2">
         
        </div>
        </form>
        
<div class="reviewshow" *ngIf="entryList" >  
  <div class="row"  *ngFor="let entry of entryList; index as i">
    <div class="col-md-11 review">
        <p><img src="assets/def_face.jpg" class="img img-rounded img-fluid" width="50"/> {{entry.reviews.user}} </p>
        <p class="text-secondary">{{entry.reviews.postdate | date: 'medium'}}</p>
    
        <h4>{{entry.reviews.headline}}</h4>

        <p>{{entry.reviews.review}}</p>
        <p  *ngIf="entry.reviews.user==user.firstName" ><button type="button" (click)="onDeleteComments(entry.reviews._id)" class="btn btn-danger btn-sm">Delete</button></p>
    </div>
  </div> 
</div>
      </div>
    </div>
  </div>
</div>


