<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">

    <div class="col-xs-12">

      <div class="row vertical-align">
        <form [formGroup]="createComments" (ngSubmit)="onCreateComment()" ngNativeValidate>
       
        <div class="col-xs-10">
          <div class="form-group">
            <label>Add a headline</label>
            <input type="text" class="form-control" formControlName="reviewHeadline" required>
            <div class="text-danger" *ngIf="createComments.get('reviewHeadline').invalid && createComments.get('reviewHeadline').touched">
             Review headline is required
            </div>
          </div>
          
          <div class="form-group">
            <label>Write your review</label>
            
            <textarea class="form-control" formControlName="comment" required></textarea>
            <div class="text-danger" *ngIf="createComments.get('comment').invalid && createComments.get('comment').touched">
              Comments is required
            </div>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="createComments.invalid">Add Review</button>
          </div>
        </div>
        <div class="col-xs-2">
         
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="reviewshow" *ngFor="let entry of entryList.reviews; index as i" >
  


<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-md-2">
              <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" width="200"/>
              <p class="text-secondary text-center">15 Minutes Ago</p>
          </div>
          <div class="col-md-10">
            <h4>{{entry.headline}}</h4>
             <div class="clearfix"></div>
              <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
             
          </div>
     
      </div>       
  </div>
</div>

</div>