.review{
    border: 1px solid #ccc;
    padding: 20px  20px;
    margin: 10px 0;
    background: #FBFBFA;
}
.customerreviewhdr{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.star {
    font-size: 24px;
    color: #b0c4de;
  }
  .filled {
    color: #FFB500;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }
  .lastitem .review{
   
    padding-bottom: 20px;
   
}