<form [formGroup]="createProduct" (ngSubmit)="onCreateProduct()" >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Product</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [class.has-error]="createProduct.get('productid').invalid" [class.has-success]="createProduct.get('productid').valid">
        <label class="control-label">Product Number</label>
        <input type="text" class="form-control" formControlName="productid" placeholder="Product Number" required>
        <div class="help-block" *ngIf="createProduct.get('productid').invalid && createProduct.get('productid').touched">
          Product Number is required
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" formControlName="productname" placeholder="Product Name">
        <div class="text-danger" *ngIf="createProduct.get('productname').dirty && !createProduct.get('productname').valid">
          Invalid Product Name
        </div>
      </div>

      <div class="form-group">
        <textarea formControlName="description" class="form-control" placeholder="Description of Product"></textarea>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" formControlName="price" placeholder="Product price">
        <div class="text-danger" *ngIf="createProduct.get('price').dirty && !createProduct.get('price').valid">
          Invalid Product Price
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="form-control btn btn-primary" [disabled]="createProduct.valid">Add Product</button>
    </div>
  </div>
</form>
