<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Product List</h3>
  </div>
  <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Product description</th>
            <th scope="col">Price</th>
            <th scope="col">Created By</th>
            <th scope="col">Event</th>
          </tr>
        </thead>
        <tbody>
          <!-- (click)="onDetailProduct(entry.productid)" -->
          <tr *ngFor="let entry of entryList; index as i"  class="pointerCursor">
            <td>{{i + 1}}</td>
            <td>{{entry.productname}}</td>
            <td>{{entry.description}}</td>
            <td align="right">{{entry.price | currency}}</td>
            <td>{{entry.user?.firstName}} {{entry.user?.lastName}}</td>
            <td>
<!--              <button type="button" class="btn btn-info" (click)="onDetailProduct(entry.productid)">Detail</button>&nbsp;-->
<!--              <button type="button" class="btn btn-info" [routerLink]="['/products/', entry.productid]">Detail</button>&nbsp;-->
              <button type="button" class="btn btn-info" [routerLink]="['/products/' + entry.productid]">Detail</button>&nbsp;
              <button type="button" class="btn btn-success" (click)="onEditProduct(entry.productid)">Edit</button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="onDeleteProduct(entry.productid)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
        <tr><td></td><td></td><td><button class="btn btn-primary pull-right">Previous</button></td>
            <td><button class="btn btn-primary">Next</button></td></tr>
        </tfoot>
      </table>

  </div>
</div>

<router-outlet ></router-outlet>
