<html>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>

        <div *ngIf="!loginForm.get('mail').valid && loginForm.dirty ">Check Your Mail</div>
        <input type="text" name="mail" [formControl]="registerForm.get('mail')" class="fadeIn first"
          placeholder="Mail" />

        <input type="text" name="password" [formControl]="registerForm.get('password')" class="fadeIn second"
          placeholder="Password" />

        <input type="text" name="firstName" [formControl]="registerForm.get('firstName')" class="fadeIn second"
          placeholder="First Name" />

        <input type="text" name="lastName" [formControl]="registerForm.get('lastName')" class="fadeIn second"
          placeholder="Last Name" />

        <input type="submit" [disabled]="!registerForm.valid" class="fadeIn third" value="Login" />

      </form>

      <div id="formFooter">
        <input type="button" class="fadeIn forth" value="Still Not A Member ?" />
      </div>
    </div>
  </div>

</body>

</html>