<html>

<body>
    <div class="wrapper fadeInDown">

        <div id="formContent">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mail</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let num = index">
                        <td>{{num +1}}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>button</td>
                      </tr>
                  
                </tbody>
              </table>
        </div>
    </div>

</body>

</html>