<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Product List</h3>
  </div>
  <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Product description</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entryList; index as i" >
            <td>{{i + 1}}</td>
            <td>{{entry.productname}}</td>
            <td>{{entry.description}}</td>
            <td>{{entry.price}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
