<div class="row">
  <!--<div *ngIf="entryList.length == 0" style="margin-left: 20px;">-->
    <!--<span>No product</span>-->
  <!--</div>*ngIf="entryList.length > 0" -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Product description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entryList; index as i" >
        <td>{{i + 1}}</td>
        <td>{{entry.productname}}</td>
        <td>{{entry.description}}</td>
        <td>{{entry.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
